html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-container {
    flex: 1;
    padding: 20px;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    background: #e3ecf5;
}

.right-container {
    background: #A6CAEC;
    flex: 1;
    padding: 50px;
    align-items: center;
    justify-content: center;
    min-width: 400px;
}
.right-container h2{
    text-align:center;
}
.right-container input{
    margin-top: 30px;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.search-container {
    height: 40px;
    width: 100%;
    max-width: 600px;
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
}

.search {
    display: flex;
    flex: 1;
    background: #c5def6;
    border-radius: 5px 5px 0 0;
}

    .search img {
        padding: 5px;
        border-top-left-radius: 5px;
    }

    .search input {
        flex: 1;
        padding: 10px;
        border: none;
        outline: none;
        background: transparent;
    }
    .search:focus-within {
        outline: none;
        box-shadow: none;
        border: none;
        background: #d4e1ee;
    }



    .search button {
        background: #215F9A;
        padding: 10px 40px;
        border-top-right-radius: 5px;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        color: #FFF;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .search button:hover {
        background: #264a6d;
    }
.add_btn {
    width: 50px;
    min-width: 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #808080;
}

    .add_btn:hover {
        background: #4e4e4e;
    }

.form_btns{
    display: flex;
    padding: 10px;
}
.submit_btn {
    margin: 5px;
    padding: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #215F9A;
}
    .submit_btn:hover {
        background: #264a6d;
    }

.cancel_btn {
    margin: 5px;
    padding: 10px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #a81f1f;
}

    .cancel_btn:hover {
        background: #d80c0c;
    }
.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
}

    .reset:hover {
        opacity: 70%;
    }

    .reset img {
        max-height: 20px;
    }

tbody tr:hover td {
    background-color: #d5d5d5;
    cursor: pointer;
}

.form-control {
    background: #fafafa;
    border: none;
    border-color: #215F9A;
    border-radius: 5px;
    padding: 12px;
    box-shadow: none;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
    border: 3px solid #4373a0;
}

.form-control input{
    background: #f3f3f3;
}

.create-form{
    display: none;
}

