html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-container {
    flex: 1;
    padding: 20px;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    background: #637860;
}

.right-container {
    background: #cccccc;
    flex: 1;
    padding: 50px;
    align-items: center;
    justify-content: center;
    min-width: 400px;
}
.right-container h2{
    text-align:center;
}
.right-container input{
    margin-top: 30px;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.search-container {
    height: 40px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.search {
    width: 90%;
    display: flex;
    flex: 1;
}

    .search img {
        padding: 5px;
        border-top-left-radius: 5px;
        background: #cccccc;
    }

    .search input {
        flex: 1;
        background: #cccccc;
        padding: 10px;
        border: none;
        outline: none;
    }

    .search button:hover {
        background: #646464;
    }

    .search button {
        background: #4e4e4e;
        padding: 10px 40px;
        border-top-right-radius: 5px;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        color: #FFF;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
    }

.add_btn {
    margin-left: 5px;
    width: 8%;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #808080;
}

    .add_btn:hover {
        background: #4e4e4e;
    }

.form_btns{
    display: flex;
    padding: 10px;
}
.submit_btn {
    margin: 5px;
    padding: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #808080;
}
    .submit_btn:hover {
        background: #4e4e4e;
    }

.cancel_btn {
    margin: 5px;
    padding: 10px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: #808080;
    outline: #808080;
    border-radius: 5px;
    background: none;
}

    .cancel_btn:hover {
        background: #808080;
    }
.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
}

    .reset:hover {
        opacity: 70%;
    }

    .reset img {
        max-height: 20px;
    }

tbody tr:hover td {
    background-color: #d5d5d5;
    cursor: pointer;
}
